<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail to Audio</title>
</head>

<body>
    <h1>Get emails!</h1>
    <form method="get" action="">
      <label for="query">Filter what emails you would like to fetch:</label>
      <input type="text" id="query" name="query" value="is: unread">
      <button type="submit" name="get_messages">Get Emails</button>
  </form>
    {% endif %}

    <!-- Display email list if available -->
    {% if messages %}
        <h2>Found some emails!</h2>

        {% for message in messages %}
        <div id="message-{{ message.id }}-container">
            <p>Message id: {{ message.id }}</p>
            <p class="subject">Subject: {{ message.subject }}</p>
            <p class="sender">Sender: {{ message.sender }}</p>
            <p class="body">Body: {{ message.body }}</p>
            <div id="audio-player-{{ message.id }}"></div>
            <form method="get" action="" class="create-audio-form">
                <input type="hidden" name="message-id" value="{{ message.id }}">
                <button type="button" class="play-audio">Play</button>
                <button type="button" class="play-all-audios">Play all from here</button>
            </form>
        </div>
        {% endfor %}
    {% endif %}

    <script>
      let messageIds = [];

      document.addEventListener("DOMContentLoaded", () => {
          const messageIdElements = document.querySelectorAll('input[name="message-id"]');
          messageIds = Array.from(messageIdElements).map(input => input.value);
      });

      let currentIndex = 0;      
      let AutoplayIds = []

      function createAllAudios(firstMessageId, playOnlyFirst = false) {
        AutoplayIds = [];
        const startIndex = messageIds.findIndex(id => id === firstMessageId);
        if (startIndex === -1) {
            console.error("Invalid messageId");
            return;
        }

        let endIndex = startIndex - 1;
        if (endIndex < 0) {
            endIndex = messageIds.length - 1;
        }

        let iterationCount = 0;
        
        for (
          let i = startIndex;
          iterationCount < messageIds.length;
          i = (i + 1) % messageIds.length) {
            messageId = messageIds[i]
            const container = document.querySelector(`#message-${messageId}-container`);
            const messageAudio = container.querySelector(`audio`);
            const subject = container.querySelector('.subject').textContent;
            const sender = container.querySelector('.sender').textContent;
            const body = container.querySelector('.body').textContent;

            if (!messageAudio) {
              messageString = subject + "\n" + sender + "\n" + body;
              createAudio(messageString, messageId);
            }
            AutoplayIds.push(messageIds[i]);
            iterationCount++;
        }
        autoplayAudios(AutoplayIds, playOnlyFirst);
      }


      function autoplayAudios(AutoplayIds, playOnlyFirst) {
        let currentIndex = 0;

        function waitForAudioElement(currentId, callback) {
          const interval = setInterval(() => {
            const audioElement = document.querySelector(`#message-${currentId}-container audio`);
            if (audioElement) {
              clearInterval(interval);
              callback(audioElement);
            }
          }, 100); // Check every 100ms
        }


        function playNextAudio(playOnlyFirst = null) {
          playableAudiosCount = messageIds.length;
          if (playOnlyFirst) {
            playableAudiosCount = 1
          }

          if (currentIndex >= playableAudiosCount) {
            return; // All audios played
          }
          const currentId = AutoplayIds[currentIndex];
          waitForAudioElement(currentId, (audioElement) => {
            audioElement.addEventListener('loadeddata', function onLoadedData() {
              audioElement.removeEventListener('loadeddata', onLoadedData); // Clean up the event listener
              audioElement.play();
            });

            audioElement.addEventListener('ended', function onAudioEnd() {
              audioElement.removeEventListener('ended', onAudioEnd); // Clean up the event listener
              currentIndex++;
              if (!playOnlyFirst) {
                playNextAudio(); // Play the next audio
              }
            });

            // Check if audio is already ready to play
            if (audioElement.readyState >= 3) {
              audioElement.play();
            }
          });
        }

        playNextAudio(playOnlyFirst);
      }


      // Create an audio player for message
      function createAudio(text, messageId, autoplay = false) {
          fetch(`/text-to-audio?text=${encodeURIComponent(text)}&filename=${messageId}`)
              .then(response => response.json())
              .then(data => {
                  let audioPlayer = document.createElement('audio');
                  audioPlayer.controls = true;
                  audioPlayer.src = data.audio_url;
                  document.querySelector(`#message-${messageId}-container`).appendChild(audioPlayer);
                  if (autoplay) {
                      audioPlayer.autoplay = true;
                  }
              })
              .catch(error => console.error('Error fetching audio:', error));

          };


      const playAudioButtons = document.querySelectorAll('.play-audio');
      playAudioButtons.forEach(button => {
          button.addEventListener('click', function () {
              let form = this.parentElement;
              let messageId = form.querySelector('input[name="message-id"]').value;
              createAllAudios(messageId, playOnlyCurrent = true);
          });
      });


      const createAllAudioButtons = document.querySelectorAll('.play-all-audios');
      createAllAudioButtons.forEach(button => {
          button.addEventListener('click', function () {
              let form = this.parentElement;
              let messageId = form.querySelector('input[name="message-id"]').value;
              createAllAudios(messageId);
          });
      });

    </script>
</body>
</html>
