__pycache__
django/db.sqlite3
django/django.log
django/media/recordings/*
!django/media/recordings/.gitkeep
django/venv
django/google_api/app_secrets.json
django/settings.json
django/ca.pem
local_settings.json
django/data/