<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hi, I'm Tedis</h1>
    <h2>I built this webpage to provide some useful tools for me. Some of them might be useful to you as well:</h2>
    <div>
      <a><a href="{% url 'google_api:gmail' %}">Get Emails</a>
    </div>
    <div>
      <a><a href="{% url 'single_pages:twister' %}">Play Twister (let me read randomly the moves for you)</a>
    </div>
</body>
</html>
