<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail to Audio</title>
</head>

<body>
    {% if not messages %}
    <h1>Get emails!</h1>
    <form method="get" action="">
        <button type="submit" name="get_message_ids">Get Emails</button>
    </form>
    {% endif %}

    <!-- Display email list if available -->
    {% if message_ids %}
        <h2>Found some emails!</h2>

        <form method="get" action="" id="read-all-emails-form">
            <button type="button" id="read-all-emails">Read all emails!</button>
        </form>

        {% for message_id in message_ids %}
        <div id="message-{{ message_id }}-container">
            <p>Message: {{ message_id }}</p>
            <div id="audio-player-{{ message_id }}"></div>
            <form method="get" action="" class="create-audio-form">
                <input type="hidden" name="message_id" value="{{ message_id }}">
                <button type="button" class="play-audio">Play</button>
                <button type="button" class="play-all-audios">Play all from here</button>
            </form>
        </div>
        {% endfor %}
    {% endif %}

    <script data-messages="{{ message_ids }}">
        let currentIndex = 0;
        let audioUrls = [];
        const data = document.currentScript.dataset;
        const messageIds = data.messages;
        <!-- console.log("messageIds: ", messageIds); -->

        document.getElementById('read-all-emails').addEventListener('click', function () {
            console.log("Clicked button!")
            createAllAudios();
        });

        function createAllAudios() {
            for (let messageId of messageIds) {
                createAudio(messageId);
            }
        }

        function createAudio(messageId, autoplay = false) {
            fetch(`/audio?message_id=${messageId}`)
                .then(response => response.json())
                .then(data => {
                    audioUrls.push(data.audio_url);
                    let audioPlayer = document.createElement('audio');
                    audioPlayer.controls = true;
                    audioPlayer.src = data.audio_url;
                    console.log("messageId: ", messageId);
                    document.querySelector(`#message-${messageId}-container`).appendChild(audioPlayer);
                    if (autoplay) {
                        audioPlayer.autoplay = true;
                    }
                })
                .catch(error => console.error('Error fetching audio:', error));

            };

            const createAudioButtons = document.querySelectorAll('.play-audio');
            createAudioButtons.forEach(button => {
                button.addEventListener('click', function () {
                    let form = this.parentElement;
                    let messageId = form.querySelector('input[name="message_id"]').value;
                    console.log("messageId in click: ", messageId);
                    createAudio(messageId, autoplay = true);
                });
            });

                const createAllAudioButtons = document.querySelectorAll('.play-all-audio');
                createAllAudioButtons.forEach(button => {
                    button.addEventListener('click', function () {
                        let form = this.parentElement;
                        let messageId = form.querySelector('input[name="message_id"]').value;
                        console.log("messageId in click: ", messageId);
                        createAllAudios();
                    });
            });
    </script>
</body>

</html>